@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

:root {
  --bg-color-hsl: 59, 3%, 94%;
  --bg-color: hsl(var(--bg-color-hsl));
  --bg-color-translucent: hsla(var(--bg-color-hsl), 0.95);
  --bg-color-highlight: hsl(224, 100%, 53%);
  --color-text: hsl(192, 14%, 20%);
  --color-text-highlight: hsl(192, 14%, 0%);
  --page-width: 80ch;
  --paragraph-font-size: min(max(1.2rem, 4vw), 1.4rem);
  --header-font-size: min(max(2rem, 2vw), 4rem);
  --space: 2rem;
  --padding: 2vmin;
  --duration: 1s;
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
}
body {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--bg-color);
  transition: background calc(var(--duration) / 4) var(--ease);
  padding: 0;
  margin: 0;
  height: 100%;
  display: block;
  text-align: center;
}

select {
  font-family: inherit;
  font-size: 16px;
}

label {
  font-size: 0.8rem;
}

main {
  margin: 2rem auto;
  padding: 0 var(--padding);
  max-width: var(--page-width);
}

h1 {
  font-size: var(--header-font-size);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4rem;
}

p {
  margin: 1rem 0;
  font-size: var(--paragraph-font-size);
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.7;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li {
  line-height: 1.45;
  text-align: center;
}

li.nav-item a[href] {
  color: #ffffff;
}
a[href] {
  color: #000000;
  text-decoration: none;
}
.home > a:nth-child(1) {
  background-color: #444;
  color: transparent;
  font: bold 1rem "Poppins", sans-serif;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
p {
  top: 50%;
  text-align: center;
}
.links {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
span {
  color: rgb(243, 189, 12);
}
header {
  width: 100%;
  height: 20%;
  background-repeat: no-repeat, repeat;
  background-repeat: repeat;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  margin-bottom: 2rem;
}
header:after {
  content: " ";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: center;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 0rem 2rem 2rem 0rem;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  text-align: center;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

.home > a:nth-child(1) {
  background-color: var(--color-text);
}
/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
  color: var(--color-text);
}
li.nav-item a[href] {
  display: inline-block;
  margin-right: 1em;
  color: var(--color-text);
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
  color: var(--color-text);
}
.nav-item-active {
  font-weight: 600;
}

/* Posts list */
.postlist {
  list-style: none;
  text-align: center;
  padding: 0;
  color: var(--gold);
}
.postlist-item {
  counter-increment: start-from -1;
  color: var(--gold);
}
.postlist-item:before {
  display: inline-block;
  text-align: center;
  pointer-events: none;
  color: var(--white);
  content: " ";
  line-height: 100%;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
}
.postlist-date {
  word-spacing: -0.5px;
  color: var(--gold);
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 0.3rem 1rem;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--bg-color-highlight);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}
/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
a[href]:hover {
  color: rgba(4, 19, 34, 0.842);
  text-decoration: underline;
}
.card {
  border-radius: 2px;
  display: inline-block;
  position: relative;
  width: 90%;
  margin-bottom: 2rem;
}

.card-1 {
  background: rgb(246, 246, 246);
  box-shadow: 0 10px 20px rgba(163, 163, 163, 0.582),
    0 6px 6px rgba(114, 114, 114, 0.5);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
ul {
  padding-left: 1rem;
  padding-right: 1rem;
}
.container {
  overflow: hidden;
}
.responsive-iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}
summary {
  outline: none;
}
table.blackTable {
  border: 1px solid #041018;
  background-color: #eeeeee;
  text-align: left;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
table.blackTable td,
table.blackTable th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table.blackTable tbody td {
  font-size: 13px;
}
table.blackTable tr:nth-child(even) {
  background: #70737546;
}
table.blackTable thead {
  background: #071118;
  background: linear-gradient(to bottom, #3f4549 0%, #272e33 66%, #4c4e4e 100%);
  border-bottom: 2px solid #444444;
}
table.blackTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #838383;
}
table.blackTable thead th:first-child {
  border-left: none;
}

table.blackTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #414446;
  background: linear-gradient(to bottom, #d0d2d3 0%, #bcbcbd 66%, #edf1f5 100%);
  border-top: 2px solid #444444;
}
table.blackTable tfoot td {
  font-size: 14px;
}
table.blackTable tfoot .links {
  text-align: right;
}
table.blackTable tfoot .links a {
  display: inline-block;
  background: #101f29;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}
.mySlides {
  max-width: 100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/* Caption text */
.text {
  color: rgb(255, 251, 251);
  text-shadow: 0 0 3px rgb(96, 96, 96);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

div.one {
  display: inline-block;
}
div.two {
  display: none;
}
div.three {
  display: none;
}
.mySlides > img {
  width: 100%;
}
