---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---
<img class="staysoft" src="https://i.imgur.com/l18VTY5l.jpg" alt="stay soft even though the world is a cold place"  width="50%" height="50%">

<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
