---
layout: layouts/home.njk
permalink: /neat-links/
eleventyNavigation:
  key: Links
  order: 2
---
<div>
<h1>Check Out These Links</h1>
<div class="container">
<a class="responsive-iframe" href="https://imgur.com/b3IYG0w"><img src="https://i.imgur.com/8ZtY2kJm.jpg" title="Cookie: My yorkie"></a>
</div>
</div>
<div>
<br>
<p>
</p>
<ul style="list-style-type:none;">
<li>
<a href="http://nandgame.com/">Nandgame</a>
</li>
<br>
<li>
<a href="http://tutorials.jenkov.com/java-concurrency/index.html">Java Concurrency</a>
</li>
<br>
<li><a href="https://deadlockempire.github.io/">The Deadlock Empire
Slay dragons, master concurrency!</a></li>
</ul>
</div>
