---
layout: layouts/home.njk
permalink: /what-you-up-to/
eleventyNavigation:
  key: Currently
  order: 2
---
<div>
<h1>What I'm up to</h1>



⚬ 21 July 2020 ⚬
<br>
</br>
I'm currently reading <i><b>Computer Organization and Design: The Hardware Software Interface, RISC-V Edition</b></i> and <i><b> Operating System Concepts</b></i>, to learn about Operating Systems and Systems Programming.
I'm using MIT 6.004's slides and resources <a href="https://6004.mit.edu/web/fall18FA18/resources"> here </a> and these Georgia Tech Udacity courses as well:  <a href="https://www.udacity.com/course/introduction-to-operating-systems--ud923"> Intro to OS </a> and <a href="https://www.udacity.com/course/gt-refresher-advanced-os--ud098"> Refresher - Advanced OS </a>. 

<br>
</br>
RISC-V is an open source standard set of processor specifications. Maybe you've heard of ARM and x86? Well, RISC-V is an alternative to ARM.  If you're interested in learning more about microprocessors and their vulnerabilities, I'd suggest reading about Meltdown and Spectre 😱.
<br>
</br>
<b>Purpose:</b> I need to learn about processes, threads, semaphores and modern concurrency constructs to increase my understanding of those concepts and connect them to CPython's implementation (Python's GIL, Python multiprocessing, etc.). 
My overall goal is to work my way down levels of abstraction to gain a better understanding of how software works under the hood. 
<br>
</br>

<b>***</b>To anyone who wants to learn about NodeJS and how NodeJS works under the hood, I strongly recommend reading <i><b>Beginning Node.js
</i></b> by Basarat Ali Syed. This is where I first learned about the JavaScript Event Loop and discovered my interest for backend web development!
</div>


