---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{{ content | safe }}
<div style="height:10rem; padding:2rem; margin-top:2rem;">
</div>
<p><a href="{{ '/' | url }}">← Home</a></p>


<footer style="height: 10rem; padding: 2rem; margin-top: 2rem;">
</footer>